<header class="navbar navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<form class="navbar-search">
				<input type="text" ng-model="query" placeholder="Search">
			</form>
		</div>
	</div>
</header>

<ul class="nav nav-tabs nav-stacked padd">
	<li ng-repeat="cat in categories | filter:query | orderBy:orderProp">
		<a href="#/catalog/{{cat.id}}">
		 <span class="badge pull-right" ng-hide="cart.getItemCountByCategory(cat.id) < 1">{{cart.getItemCountByCategory(cat.id)}}, {{cart.getTotalPriceByCategory(cat.id) | currency}}</span>
		 {{cat.name}}
	  </a>
	</li>
</ul>

<footer class="navbar navbar-fixed-bottom fix">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li>
          <a href="" onclick="navigator.app.exitApp();return false">Exit</a>
        </li>
        <li>
          <a href="#/cart/files">Orders</a>
        </li>
        <li ng-class="{disabled: cart.getItemCount() < 1}">
          <a href="#/cart" ng-disabled="cart.getItemCount() < 1">Item cart ({{cart.getItemCount()}})</a>
        </li>
        <li>
          <a>Total amt = {{cart.getTotalPrice() | currency}}</a>
        </li>
        <li>
          <a href="#/cart/files/arc">Archived Orders</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
