<header class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <form class="navbar-search">
        <input type="text" ng-model="query" placeholder="Search" ui-event="{keypress: 'searchKeypress()', keyup: 'searchKeyup()'}">
      </form>
      <ul class="nav pull-right">
        <li>
          <a href="#/cart/files"> <b>Orders</b></a>
        </li>
        <li class="divider-vertical"></li>
        <li>
          <a href="#/cart" ng-disabled="cart.getItemCount() < 1">
            <i class="icon-shopping-cart icon-white"></i> <b>{{cart.getItemCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>

<pagination on-select-page="gotoPage(page)" num-pages="noOfPages" current-page="currentPage" max-size="maxSize" boundary-links="true"></pagination>

<ul class="thumbnails product-thumbs">
  <li ng-repeat="product in products">
    <div class="thumbnail">
      <img ng-src="img/category.1/x001.jpg" class="pull-left">
      <div>{{product.sku}}</div>
      <div>{{product.name}}</div>
      <div>Price: {{product.price | currency}}</div>
      <hr/>
      <table>
        <tr>
          <td valign="top">UOM: </td>
          <td>
            <ul class="dropdown-menu menu" role="menu" aria-labelledby="dropdownMenu">
              <li ng-repeat="uom in product.uom">
                <a ng-click="product.selecteduom = uom; checkPending(product)" ng-model="product.selecteduom" href="">{{uom.code}} {{uom.label}} {{uom.unit * product.price | currency}}</a>
              </li>
            </ul>
            &nbsp;&nbsp;<b>{{product.selecteduom.code}}</b>
          </td>
        </tr>
        <tr>
          <td valign="top">Quantity: </td>
          <td>
            <input ng-change="checkPending(product)" ng-model="product.quantity" type="number" min="1" style="width: 80px" required ng-pattern="number">
          </td>
        </tr>
      </table>
      <div class="text-right">
        <button class="btn btn-danger clearfix" type="button" 
          ng-click="removeFromCart(product)" 
          ng-disabled="cart.getItemCount(product.sku) < 1">
          <i class="icon-trash icon-white"></i> Remove from cart</button>
        <button class="btn btn-success clearfix" type="button" 
          ng-click="addToCart(product)" 
          ng-disabled="product.selecteduom == null || isNaN(product.quantity) || product.quantity == null">
          <i class="icon-shopping-cart icon-white"></i> Add to cart
        </button>
      </div>
    </div>
  </li>
</ul>

<pagination on-select-page="gotoPage(page)" num-pages="noOfPages" current-page="currentPage" max-size="maxSize" boundary-links="true"></pagination>

<div class="span4">
  <p class="text-info">
    <button class="btn btn-block" onclick="window.location.href='#/catalog'">
      <i class="icon-chevron-left"></i> Back to categories
    </button>
  </p>
</div>
