<header class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <form class="navbar-search">
        <input type="text" ng-model="query" placeholder="Search" ui-event="{keypress: 'searchKeypress()', keyup: 'searchKeyup()'}">
      </form>
    </div>
  </div>
</header>

<pagination on-select-page="gotoPage(page)" num-pages="noOfPages" current-page="currentPage" max-size="maxSize" boundary-links="true"></pagination>
<span class="label label-info">{{pager.itemMsg()}}</span>

<ul class="thumbnails product-thumbs">
  <li ng-repeat="product in products">
    <div class="thumbnail">
      <img ng-src="img/category.1/x001.jpg" class="pull-left">
      <div>{{product.sku}}</div>
      <div>{{product.name}}</div>
      <div>Price: {{product.price | currency}}</div>
      <hr/>
      <table>
        <tr>
          <td>
            <ul class="dropdown-menu menu" role="menu" aria-labelledby="dropdownMenu">
              <li ng-repeat="uom in product.uom">
                <a ng-click="product.selecteduom = uom; checkPending(product)" ng-model="product.selecteduom" href="">{{uom.code}} {{uom.label}} {{uom.unit * product.price | currency}}</a>
                <input ng-show="product.selecteduom != null && product.selecteduom.code == uom.code" ng-change="checkPending(product)" ng-model="product.quantity" type="number" min="1" style="width: 80px" required ng-pattern="number" ui-event="{keypress: 'qtyKeypress()', keyup: 'qtyKeyup()'}">
              </li>
            </ul>
            &nbsp;&nbsp;<b>{{product.selecteduom.code}}</b>
          </td>
        </tr>
      </table>
      <div class="text-right">
        <button class="btn btn-danger clearfix" type="button" 
          ng-click="removeFromCart(product)" 
          ng-disabled="cart.getItemCount(product.sku) < 1">
          <i class="icon-trash icon-white"></i> Remove from cart</button>
        <button class="btn btn-success clearfix" type="button" 
          ng-click="addToCart(product)" 
          ng-disabled="product.selecteduom == null || isNaN(product.quantity) || product.quantity == null">
          <i class="icon-shopping-cart icon-white"></i> Add to cart
        </button>
      </div>
    </div>
  </li>
</ul>

<div style="padding-bottom: 100px">
  <pagination on-select-page="gotoPage(page)" num-pages="noOfPages" current-page="currentPage" max-size="maxSize" boundary-links="true"></pagination>
  <span class="label label-info">{{pager.itemMsg()}}</span>
</div>

<footer class="navbar navbar-fixed-bottom fix">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li>
          <a href="#/catalog">Back</a>
        </li>
        <li>
          <a href="#/cart/files">Orders</a>
        </li>
        <li ng-class="{disabled: cart.getItemCount() < 1}">
          <a href="#/cart" ng-disabled="cart.getItemCount() < 1">Item cart ({{cart.getItemCount()}})</a>
        </li>
        <li>
          <a>Total amt = {{cart.getTotalPrice() | currency}}</a>
        </li>
        <li>
          <a href="#/cart/files/arc">Archived Orders</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
